h1 {
        color: darkblue;
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
      }

      .highlight {
        background-color: yellow;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        color: black;
      }

      #footer {
        text-align: center;
        font-size: 14px;
        color: gray;
        border-top: 1px solid lightgray;
        margin-top: 20px;
        padding: 10px;
      }

      ul {
        list-style-type: square;
        margin: 10px;
        padding-left: 20px;
      }

      li {
        font-size: 16px;
        margin: 5px 0;
      }